@import "../variables.scss";

.movie_box {
  // width: $movie-box-width;
  height: $movie-box-height;
  margin-left: .75vw;
  margin-right: .75vw;
  position: relative;
  display: inline-block;
  margin-top: 7px;
  margin-bottom:auto;
  // height: 22vh;

  .tiny_poster {
    img {
      height: 21.5vh;
      margin-bottom:  0;
      margin-top: auto;
    }
  }
}

.movie_box .poster {
  display: block;
  z-index: 50;
  
}

.movie_box .remove {
  position: absolute;
  right: 10px;
  bottom: 1px;
  z-index: 100;
  height: 30px;


  visibility: hidden;
}

.movie_box:hover .remove {
  visibility: visible;
}



/* IPHONE STYLES */
@media only screen and (max-width: 551px) {
.movie_box{
  height: 14vh;
  .tiny_poster {
    img {
      height: 13vh;
      margin-top:auto;
      margin-bottom:auto;
    }
  }
}
 
}


@media only screen and (min-width: 551px) and (max-width: 900px) {
  .movie_box{
    height: 15vh;
    .tiny_poster {
      img {
        height: 14vh;
        margin-top:auto;
        margin-bottom:auto;
      }
    }
  }
}