@import "../variables.scss";

.movie_box {
  width: $movie-box-width;
  height: $movie-box-height;
  margin-left: .75vw;
  margin-right: .75vw;
  position: relative;
  display: inline-block;
}

.movie_box .poster {
  display: block;
  z-index: 50;
}

.movie_box .remove {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 100;

  visibility: hidden;
}

.movie_box:hover .remove {
  visibility: visible;
}
