@import "../variables.scss";

.favSelector {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .navButton {
    margin-top: auto;
    margin-bottom: auto;
  }
}

img.arrow {
  height: 10vh;
}



/* IPHONE STYLES */
@media only screen and (max-width: 550px) {
  img.favePoster{
    max-width:35vw;
  }
  img.arrow {
    height: 4vh;
  }
}
  
  
@media only screen and (min-width: 550px) and (max-width: 900px) {

  img.arrow {
    height: 4vh;
  }
  
}