@import "../variables.scss";

.favorite_add {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 6px;
}

.empty {
  width: $movie-box-width;
  height: $movie-box-height;
  background-color: brown;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 6px;
}

.favorite-form {
  background-color: white;
}

.list {  
  @include bubble();
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 98.5%;
  height: 19vh;
  align-content: center;
  margin-top:1px;
  overflow-x: scroll;
}


.favSelector {
  display: flex;
  flex-direction: row;
}

.close-modal{
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

/* IPHONE STYLES */
@media only screen and (max-width: 767px) {
  .list {
    -webkit-overflow-scrolling: touch;
  }
  /* cursor: pointer; */
}
