@import "../variables.scss";

.favorite_add {
  margin: 25px;
}

.empty {
  width: $movie-box-width;
  height: $movie-box-height;
  background-color: brown;
}

.favorite-form {
  background-color: white;
}

.list {  
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  margin: 10px;
  box-shadow: 5px 5px 10px grey;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 98.5%;
  height: 19vh;
  overflow-x: auto;
  align-content: center;
  /* border: 2px dashed rgb(105, 37, 107); */  
}

.list::-webkit-scrollbar {
  display: none;
}

.favSelector {
  display: flex;
  flex-direction: row;
}

.close-modal{
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

/* IPHONE STYLES */
@media only screen and (max-width: 767px) {
  .list {
    -webkit-overflow-scrolling: touch;
  }
  /* cursor: pointer; */
}
