@import "./components/variables.scss";

h5,
h6 {
  margin: 0;
}

body {
  margin: 0;
  font-family: $font-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  color: $text-color;
}

code {
  font-family: $font-text;
}
