@import "./components/variables.scss";

body {
  margin: 0;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  color: $text-color;
}

code {
  font-family: 'Lora', serif;
}
