@import "variables.scss";

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

button{
  font-family: $font-title;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;

  img.tmdb{
    height: 40px;
    margin-left: 10px;
  }
  img.icon8{
    height: 40px;
    border: 1.25px solid black;
    border-radius: 5px;
  }
}

h4 {
  margin-block-start: 0px;
  margin-block-end: 5px;
  margin-bottom: 3px;
  margin-top: 8px;
  font-family: $font-title;
}

.main-container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;

  .friends-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-height: 80vh;
    
    @include bubble();
  }

  .recent-suggestion-list-container{
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: auto;
    @include bubble();
    font-family:  $font-title; 
  }

}


.friend-info-form{
  .friend-info-image{
    height: 25px;
    margin: 4px;
  }

  p {
    margin: 1px;
  }

}

/* IPHONE STYLES */
@media only screen and (max-width: 560px) {
  .main-container .suggested-container{
    width:100%;
  }

  .suggestion-all {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .suggestion-text{
    font-size: x-small;
    width: 100%;
  }

  .poster {
    height: 25vh;
  }
  .main-container {
    flex-direction: column;
  }

  /* .recent{
    display: none;
  } */
  .recent-iphone{
    display: block;
  }
}
