@import "variables.scss";

.App {
  text-align: center;
  font-family: 'Hind Vadodara', sans-serif;
}

h4 {
  margin-block-start: 0px;
  margin-block-end: 5px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  /* background-color: rgb(92, 92, 92); */
  max-height: 7vh;

  .logo {
    display: flex;
    flex-direction: row;

  }

  .user-login{
    display:flex;
    flex-direction: row;
  }
  
  .list-name {
    /* background-color: rgb(158, 158, 158); */
    border: .5px solid rgb(124, 121, 124);

    &-show{
      background-color: rgb(184, 180, 180);
    }
  }
}

.main-container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;

  .friends-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 80vh;
    overflow: scroll;
  }
  .suggested-container{
    .suggestion{
      display: grid;
      grid-template-rows: 10% 90%;

      .suggestion-info{
        display: flex;
        flex-direction: row;
        height: 80vh;
        .movie-poster{
          object-fit: contain;
        }
        article{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 15px;
        }
    }
  }
    .spinner{
      animation-name: spin;
      animation-duration: 3000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear; 
    }

    @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
    }
  }

  .recent-suggestion-list-container{
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow: scroll;
  }
}

.friend-info-form{
  .friend-info-image{
    height: 25px;
    margin: 4px;
  }

  p {
    margin: 1px;
  }

}

/* IPHONE STYLES */
@media only screen and (max-width: 560px) {
  .main-container .suggested-container{
    width:100%;
  }

  .suggestion-all {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .suggestion-text{
    font-size: x-small;
    width: 100%;
  }

  .poster {
    height: 25vh;
  }
  .main-container {
    flex-direction: column;
  }

  /* .recent{
    display: none;
  } */
  .recent-iphone{
    display: block;
  }
}
