@import "variables.scss";

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

button{
  font-family: $font-title;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;

  img.tmdb{
    height: 40px;
    margin-left: 10px;
  }
  img.icon8{
    height: 40px;
    border: 1.25px solid black;
    border-radius: 5px;
  }
}

h4 {
  margin-block-start: 0px;
  margin-block-end: 5px;
  margin-bottom: 3px;
  margin-top: 8px;
  font-family: $font-title;
}

.main-container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;

  .friends-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include bubble();
    max-height: 700px;
  }

  .recent-suggestion-list-container{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    @include bubble();
    font-family:  $font-title; 
    max-height: 700px;
  }

}


.friend-info-form{
  .friend-info-image{
    height: 25px;
    margin: 4px;
  }

  p {
    margin: 1px;
  }

}

/* IPHONE STYLES */
@media only screen and (max-width: 551px) {

}

  
  
  @media only screen and (min-width: 551px) and (max-width: 900px) {
    .suggested-container{
      img.reel {
        height: 30vh;
      }
      .spinner{
        height: 30vh;
      }
      }
  }



