@import "variables.scss";

.App {
  text-align: center;
  font-family: 'Hind Vadodara', sans-serif;
  display: flex;
  flex-direction: column;

  // footer{

  // }
}

h4 {
  margin-block-start: 0px;
  margin-block-end: 5px;
}

.main-container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;

  .friends-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 80vh;
    overflow: scroll;
  }

  .recent-suggestion-list-container{
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: auto;
    
  }
  .recent-suggestion-list-container::-webkit-scrollbar {
    display: none;
  }
}


.friend-info-form{
  .friend-info-image{
    height: 25px;
    margin: 4px;
  }

  p {
    margin: 1px;
  }

}

/* IPHONE STYLES */
@media only screen and (max-width: 560px) {
  .main-container .suggested-container{
    width:100%;
  }

  .suggestion-all {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .suggestion-text{
    font-size: x-small;
    width: 100%;
  }

  .poster {
    height: 25vh;
  }
  .main-container {
    flex-direction: column;
  }

  /* .recent{
    display: none;
  } */
  .recent-iphone{
    display: block;
  }
}
