.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.columnlist{
  display: flex;
  flex-direction: column;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.movie_box {
  width: 8vw;
  height: 150px;
  border: 2px solid rgb(0, 0, 0);
  margin-left: .75vw;
  margin-right: .75vw;
}

.favorite_add {
  margin: 25px;
}

.empty {
  width: 8vw;
  height: 150px;
  background-color: brown;
}

.list_name {
  background-color: rgb(158, 158, 158);
  border: 2px solid rgb(14, 10, 14);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  background-color: rgb(92, 92, 92);
}


.logo {
  display: flex;
  flex-direction: row;
}

button.unselected {
  background-color: lightsalmon;
  border: none;
}

button.selected {
  background-color: lightgreen;
  border: 2px solid #4CAF50;
}


div.genre {
  padding:40px;
}
section.genres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.favorite-form {
  background-color: white;
}

.main-container{
  display: flex;
  flex-direction: row;
  height: 70vh;
}

.main-container .friends-container{
  width:20%;
  border: 2px dotted rgb(138, 100, 100);
}
.main-container .suggested-container{
  width:60%;
  border: 2px dotted rgb(54, 151, 120);
}
.main-container .recent-suggestion-list-container{
  width:20%;
  border: 2px dotted rgb(92, 196, 31);
}
.suggestion-all {
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.poster{
  height: 65vh;
}

.suggestion-text{
  height: 60vh;
  border: 2px dashed rgb(0, 0, 0);
  width: 50%;
}

.initial-suggest{
    -webkit-animation:spin 5s linear infinite;
    -moz-animation:spin 5s linear infinite;
    animation:spin 5s linear infinite;
    height: 300px;
}

.click-suggest{
  padding:100px;
}



@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
