@import "variables.scss";

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  /* background-color: rgb(92, 92, 92); */
  max-height: 7vh;

  .logo {
    display: flex;
    flex-direction: row;
  }

  .user-login{
    display:flex;
    flex-direction: row;
  }
  
  .list-name {
    background-color: transparent;
    color: $text-color;
    /* background-color: rgb(158, 158, 158); */
    border: 0px;

    &-show{
      // background-color: rgb(184, 180, 180);
      border-bottom: 3px solid rgb(222,110,10);
    }
  }
}
