@import "variables.scss";

.nav {
  // width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  background-color: $black;


  .logo {
    img{
      height: 12vh;
      padding: 10px;
      align-self: center
    }
    display: flex;
    flex-direction: row;
    
  }

  h1 {
    font-family:$font-title;
    color: $white;
    font-size: xx-large;
    padding-right: 15px;
  }

  .user-login{
    display: flex;
    background-color: transparent;

    h4{
      color: $white;
      margin-top: auto;
      margin-bottom: auto;
    }

    .list-name {
      background-color: transparent;
      color: $white;
      font-size: small;
      border: 0px;
      margin: 2px;
  
      &-show{
        border-bottom: 5px solid #ff0000;
      }
    }
  }

  button:focus {
    outline:none;
  }
  // button:
  // }


  
  .list-name {
    background-color: transparent;
    color: $white;
    font-size: medium;
    border: 0px;
    margin: 2px;
    


    &-show{
      // background-color: rgb(184, 180, 180);
      border-bottom: 5px solid #ff0000;
    }

    &-disabled{
      color: rgb(75, 73, 73);
      // cursor: not-allowed;
      
    } 
  }
  button.list-name:hover {
    font-weight: bold;
    cursor: pointer;
  }
  button.list-name-disabled:hover{
      cursor: default;
      font-weight:normal
  }

  
  button.list-name-show:hover{
    font-weight: bold;
    cursor: pointer;
}
}



@media only screen and (max-width: 550px) {
  .nav{
    h1{
      margin-left: 5px;
      font-size: small;
      padding-right: 0px;
    }

    .list-name{
      font-size: xx-small;
      padding: 2px;
    }

    .logo {
       img{
        display:none;
      }
    
    }
  .user-login {
    flex-direction: column;
    justify-content: center;
    
    h4{
      font-size: xx-small;
    }
    .list-name{
      font-size: xx-small;
    }

    button {
      font-size: xx-small;
    }
  }

  }

  .list {
    -webkit-overflow-scrolling: touch;
  }
  /* cursor: pointer; */
}

@media only screen and (min-width: 551px) and (max-width: 900px) {
  .nav {
    h1{
      margin-left: 5px;
      font-size: large;
      padding-right: 0px;
    }

    .list-name{
      font-size: medium;
    }

    .logo {
      img{
        height: 8vh;
        // padding: 2px;
      }
    
    }
  .user-login {
    flex-direction: column;
    justify-content: center;
    
    h4{
      font-size:  medium;
    }
    .list-name{
      font-size:  medium;
    }

    button {
      font-size:  medium;
   }
   }
 }
}