@import "variables.scss";

.nav {
  width: 100%;

  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  background-color: black;
  // background-color: rgb(42, 35, 61);
  overflow: scroll;


  .logo {
    img{
      width: 9vw;
      padding: 10px;
    }
    display: flex;
    flex-direction: row;
    
  }

  h1 {
    font-family:$font-title;
    color: white;
    font-size: xx-large;
    padding-right: 15px;
  }

  .user-login{
    display: flex;
    flex-direction: row;
    background-color: transparent;

    h4{
      color:white;
      margin-top: auto;
      margin-bottom: auto;
    }

    .list-name {
      background-color: transparent;
      color: $nav-text-color;
      font-size: small;
      border: 0px;
      margin: 2px;
  
      &-show{
        // background-color: rgb(184, 180, 180);
        border-bottom: 5px solid #ff0000;
      }
    }
  }

  button:focus {
    outline:none;
  }
  
  .list-name {
    background-color: transparent;
    color: $nav-text-color;
    font-size: medium;
    border: 0px;
    margin: 2px;

    &-show{
      // background-color: rgb(184, 180, 180);
      border-bottom: 5px solid #ff0000;
    }
  }

}



@media only screen and (max-width: 767px) {
  .list {
    -webkit-overflow-scrolling: touch;
  }
  /* cursor: pointer; */
}