@import "variables.scss";

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  // background-image: url("/images/navbar.png");
  background-color: rgb(42, 35, 61);

  .logo {
    img{
      width: 200px;
    }
    display: flex;
    flex-direction: row;
  }

  .user-login{
    display: flex;
    flex-direction: row;
    background-color: transparent;

    h4{
      color:white;
    }

    .list-name {
      background-color: transparent;
      color: $nav-text-color;
      font-size: small;
      border: 0px;
      margin: 2px;
  
      &-show{
        // background-color: rgb(184, 180, 180);
        border-bottom: 5px solid rgb(222,110,10);
      }
    }
  }

  button:focus {
    outline:none;
  }
  
  .list-name {
    background-color: transparent;
    color: $nav-text-color;
    font-size: small;
    border: 0px;
    margin: 2px;

    &-show{
      // background-color: rgb(184, 180, 180);
      border-bottom: 5px solid rgb(222,110,10);
    }
  }

}
