@import "variables.scss";

.suggested-container{
  @include bubble();
  min-height: 500px;

  h1, h2 {
    font-family: $font-title;
  }

  img.reel{
    height: 60vh;
  }

 
  .suggestion{
    display: grid;

    .suggestion-info{
      display: flex;
      flex-direction: row;

      .movie-poster{
        align-self: flex-start;
        max-width: 30vw;
        max-height: 90vh;
        object-fit: contain;
        margin-right: 30px;
        margin-left:15px;
        margin-bottom: 15px;
      }
      article{
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 15px;
        margin-right: 15px;
        p{
          overflow-x: auto;
          overflow-y: auto;
          // ::-webkit-scrollbar {
          //   display: ;
          // }
        }

        h6.next{
          margin-left: auto;
          font-size: small;
          text-align: center;
          color: black;
        }

        h6.later{
          font-size: medium;
          text-align: center;
          color: black;
        }

        img.next{
          height: 95px;
          width: 95px;
          margin-left: auto;
        }

        img.later{
          height: 70px;
          width: 70px;
          margin-left: auto;
          margin-right: auto;
        }

        a{
          text-align: center;
          text-decoration: none;
          color: black;
          margin: 20px;
        }
  
        span{
          text-align: center;
        }
      }
    }
  }
  .spinner{
    height: 60vh;
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }

  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }
}


/* IPHONE STYLES */
@media only screen and (max-width: 551px) {
  .suggested-container{
    img.reel {
      height: 20vh;
    }
    .spinner{
      height: 20vh;
    }
    .suggestion{
      display: grid;
      width:100%;
  
      .suggestion-info{
        flex-direction: column;
        
       article img.next{
          height: 40px;
          width: 40px;
        }
        }
    }
    }

  }

  
  
  @media only screen and (min-width: 551px) and (max-width: 900px) {
    .suggested-container{
      img.reel {
        height: 30vh;
      }
      .spinner{
        height: 30vh;
      }
      }
  }


