@import "variables.scss";

.suggested-container{
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  margin: 10px;
  box-shadow: 5px 5px 10px grey;
  .suggestion{
    display: grid;
    // grid-template-rows: 10% 90%;
    max-height: 30vh;


    .suggestion-info{
      display: flex;
      flex-direction: row;
      height: 80vh;
      .movie-poster{
        align-self: flex-start;
        max-width: 30vw;
        object-fit: contain;
        margin-right: 30px;
        margin-left:15px;
      }
        article{
          display: flex;
          flex-direction: column;
          text-align: left;
          font-size: 15px;
          p{
            overflow-x: auto;
            overflow-y: auto;
            ::-webkit-scrollbar {
              display: none;
            }
          }
    
          span{
            text-align: center;
          }
        }
    }
  }
  .spinner{
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }

  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }
}
