$font-title: 'Raleway', sans-serif;
$font-text:'Roboto', sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;

// $dark-background: #222f3e;
$dark-background: white;

$spacing: 2rem;

$movie-box-width: 80px;
$movie-box-height: 120px;

// $text-color: #ffff;
$text-color: #222f3e;
$nav-text-color: white;
