@import "../components/variables.scss";
section.genres {
  display: flex;
  flex-direction: row;
  font-family: $font-title;
  flex-wrap: wrap;
  height: 100%;
  margin: 2px;
  overflow-y:auto;
  background: transparent;
  @include bubble();

  z-index: 5px;

  button.reset{
    background-color: transparent;
    border: none;
    color: black;
    font-size: small;
    
  }
  button.reset:focus {
    outline:none;
  }
}
.section.genres::-webkit-scrollbar {
  display: none;
}

.genre-name{
  font-family: $font-title;
  color:black;
  margin:1px;
  font-size: small;
  font-weight: bold;
  overflow-wrap: break-word;
  overflow: hidden;
}

section.genre {
  width: 9.2vw;
  height: 7vw;
  position: relative;
  margin: 1px;
}

.genre-choices{
  display: none;
  height: 33%;
  z-index: 100;
}

section.genre:hover .genre-choices{
  opacity:.91;
  position: absolute;
  right: 5%;
  bottom: 5%;
  width:90%;
  height: 90%;
  display:flex;
  flex-direction:column;
  background-color: white;
  border-radius: 10px;

}

.genre-image{
  margin-top: 4px;
  height: 4vw;
  width: 6vw;
}

.genre-feeling-hate{
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.6;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.genre-feeling-love{
  height: 100%;
  position: absolute;
  opacity: 0.8;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



button.unselected {
  background-color:white;
  border: 2px solid rgb(255, 255, 255);
  -webkit-box-shadow:  0px 2px 5px 1px rgba(155, 155, 155, .5);
  box-shadow:  0px 2px 5px 1px rgba(155, 155, 155, .5);
}
button.selected {
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 5px grey;
  -webkit-box-shadow: inset 0px 5px 5px 1px rgba(0, 0, 0, .3);
  box-shadow: inset 0px 5px 5px 1px rgba(0, 0, 0, .3);
}

button.selected#hategenre{
  background-color: rgb(206, 95, 95);
}
button.selected#lovegenre{
  background-color: rgb(116, 158, 116);
}
button.selected#mehgenre{
  background-color: rgb(138, 138, 138);
}

button#hategenre:hover{
  background-color: rgb(204, 119, 119);
}
button#lovegenre:hover{
  background-color: rgb(143, 168, 143);
}
button#mehgenre:hover{
  background-color: rgb(170, 168, 168);
}


/* IPHONE STYLES */
@media only screen and (max-width: 551px) {
  section.genres{
      justify-content: space-between;
      padding-bottom: 20px;

    button.reset{
      margin-left: 50px;
      margin-right: 6px;
      font-family: $font-title;
      font-size: x-small;
    }
  }
  .genre-name{
    font-size: x-small;
  }


  section.genre {
    width: 26vw;

    button {
      font-size: x-small;
    };
  }

  .genre-image{
    display: none;

  }
  div.genre {
    width: 32vw;
    
  }

  .genre-feeling-love{
    opacity: 1;
  }

}



@media only screen and (min-width: 551px) and (max-width: 900px) {

  section.genre {
    width: 24vw;


  }
  .genre-name{
    font-size: x-small;
  }

  section.genres{
    margin-bottom: 2vh;
    z-index: 1000;

    button.reset{
      margin-left: 50px;
      font-family: $font-title
    }

  }
  label{
    z-index: 1;
    font-size: smaller;
  }
  .genre-choices{
    z-index: 10000;    
  }
  span{
    z-index: 1;
    font-size: smaller;
  }
}