
section.genres {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
}

.genre-name{
  font-family: 'Bitter', serif;
  color: rgb(81, 85, 88);
  margin:1px;
  font-size: small;
  font-weight: bold;
}

div.genre {
  width: 9.2vw;
  height:7vw;
  position:relative;
  border: 1px solid rgb(136, 103, 103);
  /* box-shadow: 1px 1px 2px grey; */
  border-radius: 5px;
  margin:2px;
  -webkit-box-shadow: inset 0px 5px 5px 1px rgba(0, 0, 0, .3);
  box-shadow: inset 0px 5px 5px 1px rgba(0, 0, 0, .3);
}

.genre-choices{
  display:none;
  height:33%;
}

div.genre:hover .genre-choices{
  opacity:.91;
  position: absolute;
  z-index: 100;
  right: 5%;
  bottom: 5%;
  width:90%;
  height: 90%;
  display:flex;
  flex-direction:column;
  background-color: white;
  border-radius: 10px;
}

.genre-image{
  margin-top: 4px;
  height: 4vw;
  width: 6vw;
  z-index:50; 

}

.genre-feeling-hate{
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: .2;
  z-index:-1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.genre-feeling-love{
  height: 100%;
  position: absolute;
  opacity: .6;
  z-index:-1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



button.unselected {
  background-color:white;
  border: 2px solid rgb(255, 255, 255);
  -webkit-box-shadow:  0px 2px 5px 1px rgba(155, 155, 155, .5);
  box-shadow:  0px 2px 5px 1px rgba(155, 155, 155, .5);
}
button.selected {
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 5px grey;
  -webkit-box-shadow: inset 0px 5px 5px 1px rgba(0, 0, 0, .3);
  box-shadow: inset 0px 5px 5px 1px rgba(0, 0, 0, .3);
}

button.selected#hategenre{
  background-color: rgb(206, 95, 95);
}
button.selected#lovegenre{
  background-color: rgb(116, 158, 116);
}
button.selected#mehgenre{
  background-color: rgb(138, 138, 138);
}

button#hategenre:hover{
  background-color: rgb(204, 119, 119);
}
button#lovegenre:hover{
  background-color: rgb(143, 168, 143);
}
button#mehgenre:hover{
  background-color: rgb(170, 168, 168);
}
